
body .wrapper-footer {
  box-shadow: none;
  padding: 25px 35px;

  .footer-about-openedx img {
    padding: 12px 0;
	}
}

body .wrapper-footer footer#footer-openedx {

  p {
    margin: 0;
	}

  .colophon {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 2.35765%;
    margin-top: 30px;
    width: 40%;

    .nav-colophon {
      margin: 0;
		}

    ol,
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
		}

    ol li {
      float: left;
      margin-right: 15px;
		}

    a {
      color: $black-t3;
		}
	}

  .wrapper-logo {
    margin: 15px 0;
	}

  .copyright {
    color: $black-t2;
    font-size: 0.6875em;
    margin: -2px 0 8px 0;
    text-align: left;
	}

  .nav-legal li {
    display: inline-block;
    font-size: 0.6875em;

    a {
      color: $primary;
		}
	}

  .footer-about-openedx {
    width: 100%;
	}
}

.footer-container-logos {
  display: flex;
  flex-direction: column;
  text-align: right;

  p {
    text-align: right;
	}
}
