
footer {
    * {
        padding-left: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    ol,
    ul {
        list-style: none;
        float: none;
        padding-left: 0;
    }
    section#footer-links {
        h5 {
            font-weight: bold;
            font-size: 15px;
            padding-bottom: 4px;
            float: none;
            clear: both;
            color: black;
            margin-left: 25px;
            margin-right: 25px;
        }
        div#quick-links-section {
            padding: 40px 0;
            background-color: #eeeeee;
            height: auto;
            float: left;
            clear: both;
            width: 100%;
            ul#footer {
                margin: 0 0px;
                height: auto;
                width: 100%;
                float: none;
            }
            li.footer-links-structure {
                list-style-type: none;
                width: 25%;
                display: grid;
                float: left;
                @media screen and (max-width: 798px) {
                    list-style-type: none;
                    width: 50%;
                    display: grid;
                    padding-top: 20px;
                }
                ul#social-media {
                    display: block;
                    position: relative;
                    width: auto;
                    margin-left: 25px;
                    margin-right: 25px;
                    li {
                        padding: 0;
                        margin-left: 0px;
                        margin-right: 0px;
                        display: inline;
                        a {
                          padding-right: 10px;
                        }
                        h5 {
                          margin-left: 0;
                        }
                    }
                    li#openedx-logo {
                        display: block;
                        margin-top: 20px;
                        a {
                            img {
                                max-width: 100px;
                            }
                        }
                    }
                }
                ul {
                    display: contents;
                    margin: 0 0px;
                    height: auto;
                    width: 100%;
                    float: none;
                    li {
                        font-size: 14px;
                        line-height: 1.6em;
                        margin-left: 25px;
                        margin-right: 25px;
                        a {
                            font: Regular 14px Roboto;
                            letter-spacing: 0;
                            color: #707070;
                            opacity: 1;
                            text-transform: inherit;
                            line-height: 1.8em;
                            font-weight: normal;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    section#entities-quick-links {
        ul {
            border-radius: 0px 0px 10px 10px;
            background-color: white;
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            background-color: white;
            padding-bottom: 30px;

            @media screen and (max-width: 960px) {
                background-color: white;
                padding: 50px 0px 50px 0px;
                height: auto;
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            li {
                margin-top: 30px;
                a {
                    margin-left: 50px;
                    margin-right: 50px;
                }
                @media screen and (max-width: 960px) {
                    a {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
                img {
                    @media (max-width: 576px) {
                        max-width: 260px;
                    }
                }
                img#logo-nau {}
                span#copyright {
                    font: Regular;
                    letter-spacing: -0.18px;
                    color: #5E5959;
                    opacity: 1;
                    font-size: 0.65em;
                    margin-left: 50px;
                    display: block;
                }

             }

        }
    }
}
