footer {
    ol,
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #quick-links-section {
        padding: 40px 50px;
        background-color: #eeeeee;
        display: flex;

        div:nth-last-child(2) {
            max-width: none !important;
        }

        @media screen and (max-width: 798px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .footer-title {
        font-weight: bold;
        display: block;
        font-size: 15px;
        padding-bottom: 4px;
        color: $footer-header-color;
    }

    .footer-links,
    .footer-social {
        padding: 0 0.55rem;
        min-width: 20%;
        max-width: 25%;
        flex-grow: 1;

        a, a:visited {
            color: $footer-link-color;
            text-transform: inherit;
            line-height: 1.7em;
            font-size: 0.81rem;

            &:hover  {
                color: inherit;
                text-decoration: underline;
            }
        }
        

        @media screen and (max-width: $breakpoint-small) {
            max-width: 50%;
        }
    }

    #openedx-logo {
        display: block;
        margin-top: 20px;
        a {
            img {
                max-width: 100px;
            }
        }
    }

    #social-media {
        ul {
            list-style-type: none;
            display: flex;

            li {
                padding-right: 0.55rem;
            }
        }
    }

    section#entities-quick-links {
        border-radius: 0px 0px 10px 10px;
        background-color: white;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
            margin: 0;

            @media screen and (max-width: 960px) {
                padding: 50px 0px 50px 0px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
            }
            
            li {
                margin-top: 30px;
                a {
                    margin-left: 50px;
                    margin-right: 50px;
                }
                @media screen and (max-width: 960px) {
                    a {
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
                img {
                    @media (max-width: 576px) {
                        max-width: 260px;
                    }
                }
                span#copyright {
                    font-weight: normal;
                    color: $footer-copyright-color;
                    font-size: 0.65em;
                    margin-left: 50px;
                    display: block;
                }

             }

        }
    }
}
