

/*** Navigation ***/
.window-wrap .global-header .nav-links .main .nav-tab a {
  color: #10297C;

  &:hover {
    color: #081C5F;
	}
}

/*** Home **/
.window-wrap .home>header .title {
  background: #ffffffc2;
}

.home .outer-wrapper {
  display: none;
}

/**** Register ***/

.window-wrap .login-register .form-field label.focus-out{
  position: relative;
}

/**** Courses ***/

.course-sidebar .section-handouts .section-title {
  display: none;
}

/**** Static page ***/

.container.about {
  line-height: 1.4em;
}

/**** About page ***/

.content-wrapper .course-info {
  margin: 0 auto;
  max-width: 1180px;

  header.course-profile {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;

    .intro-inner-wrapper {
      border: 0;
      box-shadow: none;
    }  

    .intro-inner-wrapper .intro {
      padding: 0;
			}

    .intro-inner-wrapper  .media {
      padding-right: 0;
		}
	}

  .container {
    padding-top: 0;
	}
}
