@media only screen and (max-width: 992px) {
  body .wrapper-footer footer#footer-openedx {
    .colophon {
      float: none;
      text-align: center;
      width: 100%;

      .nav-colophon {
        display: flex;
        justify-content: center;
			}

      .copyright,
      .wrapper-logo,
        .nav-legal {
        text-align: center;
			}
		}

    .footer-container-logos {
      align-items: center;

      p {
        text-align: center;
      }
    }

    .footer-about-openedx {
      display: flex;
      justify-content: center;
    }
  }

  .content-wrapper .course-info .container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .window-wrap .content-wrapper {
    padding: 0 20px 10px;
  }
}