/* general */

:hover, :active {
  transition: all 0.25s ease-in-out;
}

/* course card */

#content .course {
  background-color: #0857ff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0;
  h2 {
    .course-code {
      color: rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
    }
    .course-title {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }
    .course-organization {
      color: #ffce35;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .course-date {
    color: #fff;
  }
  .learn-more {
    background-color: #0857ff;
    border-radius: 4px;
    font-weight: bold;
  }
}

/* header */

.global-header {
  border: 0;
  box-shadow: 0 0;
  a {
    color: #fff;
  }
  .nav-links {
    .main {
      margin-top: 25px;
    }
    .secondary a {
      &.register-btn {
        background-color: #ffce35 !important;
        border-color: #ffce35 !important;
        color: #0857ff !important;
        font-weight: bold !important;
      }
      &:hover, &:active {
        background-color: #0857ff !important;
        border-color: #0857ff !important;
        color: #fff !important;
      }
    }
  }
  #settings-language-value {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    &:hover, &:active {
      border-color: rgba(255, 255, 255, 0.8);
      color: rgba(255, 255, 255, 1);
    }
  }
}

/*** Navigation ***/
.window-wrap .global-header .nav-links .main .nav-tab a{
	color: #10297C;

	&:hover{
		color: #081C5F;
	}
}

/*** Home **/
.window-wrap .home>header .title{
	background: #ffffffc2;
}

.home .outer-wrapper {
	display: none;
}

/*** Footer ***/
.window-wrap .wrapper-footer{
	padding: 25px 35px;

	.footer-about-openedx img{
		padding: 12px 0;
	}
}

.window-wrap .wrapper-footer footer#footer-openedx .colophon {
	width: 40%;
}

.footer-container-logos {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.window-wrap .wrapper-footer footer#footer-openedx .footer-about-openedx {
	width: 100%;
}

/**** Register ***/

.window-wrap .login-register .form-field label.focus-out{
	position: relative;
}

@media screen and (max-width: 992px) {
	.window-wrap .wrapper-footer footer#footer-openedx .colophon {
		width: 100%;
		float: none;

		.copyright,
		.wrapper-logo, 
		.nav-legal{
			text-align: center;
		}
	}

	.footer-container-logos {
		text-align: center;
		display: block;
	}

	.window-wrap .wrapper-footer footer#footer-openedx .footer-about-openedx {
		text-align: center;
		width: 100%;

		a {
			float: none;
			padding-top: 20px;
		}
	} 
}

