

/*** Navigation ***/
.window-wrap .global-header .nav-links .main .nav-tab a{
	color: #10297C;

	&:hover{
		color: #081C5F;
	}
}

/*** Home **/
.window-wrap .home>header .title{
	background: #ffffffc2;
}

.home .outer-wrapper {
	display: none;
}

/*** Footer ***/
.window-wrap .wrapper-footer{
	padding: 25px 35px;

	.footer-about-openedx img{
		padding: 30px;
	}
}

/**** Register ***/

.window-wrap .login-register .form-field label.focus-out{
	position: relative;
}

/******* List logo partners  ***/
.list-logo-partners {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}

.item-logo-partner {
	width: 17%;
	list-style: none;
	padding: 20px;

	img {
		height: 100px;
		max-width: 100%;
	}
}