## mako

<%page expression_filter="h" args="online_help_token"/>


<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages

%>

<%
  www_pt = static.get_value('NAU_MARKETING_BASE_HREF')["pt-pt"]
  www_en = static.get_value('NAU_MARKETING_BASE_HREF')["en"] 
  nau_lang_menu = static.get_value('NAU_NAVBAR_LANGUAGE_SELECTOR')   
 
  if LANGUAGE_CODE == "pt-pt":
    header_menu = static.get_value('NAU_HEADER_MENU')["pt-pt"]
  else:
    header_menu = static.get_value('NAU_HEADER_MENU')["en"]
  endif 

 
%> 

% if 0:

    <h1 class="header-logo">
      <a href="/">
        <%block name="navigation_logo">
        <img  class="logo" src="${static.url('images/logo_nau_w600.png')}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
        </%block>  
      </a>
      % if course:
        <div class="course-header">
          <span class="provider">${course.display_org_with_default}:</span>
          <span class="course-number">${course.display_number_with_default}</span>
          <%
          display_name = course.display_name_with_default
          if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
            ccx = get_current_ccx(course.id)
            if ccx:
              display_name = ccx.display_name
          %>
          <span class="course-name">${display_name}</span>
        </div>
      % endif
    </h1>

    % if enable_enterprise_sidebar:
      <div class="enterprise-tagline">
        <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
        % if tagline:
          ${tagline}
        % endif
      </div>
    % endif

% endif


% if nau_lang_menu:

    <!-- Prepares Script and hidden form to post language settings -->

    <script>
    function nau_set_lang(event, language) {
        url = $('.url-endpoint').val(),
        is_user_authenticated = JSON.parse($('.url-endpoint').data('user-is-authenticated'));
        event.preventDefault();
        
        Language.submitAjaxRequest(language, url, function() {
            if (is_user_authenticated) {
                // User language preference has been set successfully
                // Now submit the form in success callback.
                $('#nau-nav-language-settings-form').submit();
            } else {
                Language.refresh();
            }
        });
    }
    </script>

    <% languages = released_languages() %>
    
    % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="nau-nav-language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
            <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
            <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif            
            <input type="hidden" id="nau-nav-settings-language-value" name="language">
        </form>
    % endif
    
% endif


<script>
// starts menu opening and closing button for menu: cross
function openNav() {
  document.getElementById("menu-container").style.cssText = "left:0px;";
  document.getElementById("open-menu-arrow").style.cssText = "display:none;"; 
  document.getElementById("close-menu-arrow").style.cssText = "display:block";
  document.getElementById("menu-overlay").style.cssText = "display:block;background: #000; opacity:0.5;"; 
}
function closeNav() {
  document.getElementById("menu-container").style.cssText = "left:-375px";
  document.getElementById("open-menu-arrow").style.cssText = "display:block;";
  document.getElementById("close-menu-arrow").style.cssText = "display:none";  
  document.getElementById("menu-overlay").style.cssText = "display:none;"; 
}
// ends menu opening and closing button for menu: cross
</script>

<div id="branding-top-nav">

    <a id="open-menu-arrow" href="javascript:void(0)" onclick="openNav(0)" title="Abrir">&#9776;</a>  
    <a href="${www_pt}"><img id="logo" src="/static/nau-basic/images/nau_sempre_aprender.svg" alt="NAU logo"></a> 

    <!-- starts menu container -->
    <div id="menu-container">

      <!-- starts top nav menu -->
      <a id="close-menu-arrow" href="javascript:void(0)" onclick="closeNav(0)" title="Fechar">&#10005;</a>
      <div class="nav-icon"></div>

      <ul id="about-categories-entities" class="menu">
        % for title in header_menu:
          <% link = header_menu[title]["link"] %>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
            <a href="${link}">${title}</a>
            <ul class="sub-nav menu-depth-0">
            % for label in header_menu[title]["itens"]:
              <% link = header_menu[title]["itens"][label] %>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="${link}">${label}</a></li>
            %endfor
            </ul>      
          </li>
        % endfor
      </ul>

% if 0:      
      
      <ul id="about-categories-entities" class="menu">
        <li id="menu-item-1743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1743">
            <a href="${www_pt}/sobre/">Sobre</a>
            <ul class="sub-nav menu-depth-0">
                <li id="menu-item-1744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1744"><a href="${www_pt}/sobre/plataforma-nau/">Plataforma NAU</a></li>
                <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-431"><a href="${www_pt}/entidades/">Entidades Promotoras</a></li>
                <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="${www_pt}/sobre/comunidades-nau/">Comunidades NAU</a></li>
                <li id="menu-item-423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-423"><a href="${www_pt}/ajuda/">Serviços de Apoio</a></li>
                <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="${www_pt}/sobre/material-de-divulgacao/">Material de Divulgação</a></li>
                <li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="${www_pt}/noticias/">Notícias</a></li>
            </ul>
        </li>
        <li id="menu-item-1070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1070">
            <a href="${www_pt}/entidades/">Entidades</a>
            <ul class="sub-nav menu-depth-0">
                <li id="menu-item-964" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-964"><a href="${www_pt}/entidades/administracao-publica/">Administração Pública</a></li>
                <li id="menu-item-966" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-966"><a href="${www_pt}/entidades/ensino-superior/">Ensino Superior</a></li>
                <li id="menu-item-965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-965"><a href="${www_pt}/entidades/privados/">Privadas</a></li>
            </ul>
        </li>
        <li id="menu-item-1758" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1758">
            <a href="${www_pt}/cursos/">Cursos</a>
            <ul class="sub-nav menu-depth-0">
                <li id="menu-item-1071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1071"><a href="${www_pt}/categorias/">Categorias</a></li>                
            </ul>
        </li>
      </ul>  

% endif

      <!-- starts top nav action container -->
      <div id="actions_container"> 


% if LANGUAGE_CODE == "pt-pt":
  
          <!-- starts top nav search bar -->          
          <form id="search-form" action="${www_pt}" role="search" method="get">
            <input id="s" name="s" type="search" placeholder="${_("Search...")}" value="">
            <input name="submit-search" class="nav-search" style="box-shadow: none;" type="submit">
          </form>
          <!-- ends top nav search bar -->

% else:

          <!-- starts top nav search bar -->          
          <form id="search-form" action="${www_en}" role="search" method="get">
            <input id="s" name="s" type="search" placeholder="${_("Search...")}" value="">
            <input name="submit-search" class="nav-search" style="box-shadow: none;" type="submit">
          </form>
          <!-- ends top nav search bar -->

% endif

      
      <!-- starts menu languages --> 
      
      
      % if nau_lang_menu:
         <div id="languages-actions-container">
           <ul id="menu_languages">
           % if LANGUAGE_CODE == "pt-pt":
             <li class="current_language">PT</li>
             <li><a onclick="nau_set_lang(event, 'en')">EN</a></li>
           % else:
             <li><a onclick="nau_set_lang(event, 'pt-pt')">PT</a></li>
             <li class="current_language">EN</li>
           % endif
           </ul>
         </div>
      % endif
      
      % if user.is_authenticated:
            <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
      % else:
            <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
      % endif
            
        <div class="hamburger-menu" role="button" aria-label=${_("Options Menu")} aria-expanded="false" aria-controls="mobile-menu" tabindex="0">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>        
        
        <!-- ends login and register -->     
        </div>        
    <!-- ends top nav action container --> 
    </div>    
<!-- ends menu container -->     
</div>







<!-- ends branding container -->
<div id="menu-overlay" onclick="closeNav(0)"></div>

  % if course:
    <div class="course-header">
      <span class="provider">${course.display_org_with_default}:</span>
      <span class="course-number">${course.display_number_with_default}</span>
      <%
      display_name = course.display_name_with_default
      if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
        ccx = get_current_ccx(course.id)
        if ccx:
          display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span>
    </div>
  % endif

