<style>
.accomplishment-rendering {
    background-position: center;
    background-size: contain;
    padding: 0;
    height: -webkit-fill-available;
    border: 0;
        max-width: 29cm;
    max-height: 21cm;
}
.certificate-metadata{
    float: left;
}
.certificate-date,
.certificate-id {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.certificate-date .title,
.certificate-id .title{
    color: #a7a4a4;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: .03125rem;
}
.nau-logo,
.compete-logo,
.certificate-zona-a,
.certificate-zona-b,
.certificate-zona-c,
.certificate-metadata {
    position: absolute;
}
.wrapper-banner-user {
    margin-top: 0;
}
.certificate-metadata {
    font-size: 0.8rem;
    font-weight: bold;
}
.border-zone {
    border: 1px solid #000;
}
@media print {
    body {
        margin: 1.875rem 1.875rem 0!important
    }
}

@page {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0
}
</style>